.text {
  color: #E7E7E7;
  font-style: normal;
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
}

.text_size_s {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  max-height: 40px;
  margin: 0 0 6px;
}

.text_size_m {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  max-height: 80px;
  margin: 0 0 12px;
}

.date {
  color: #B4B4B4;
  font-style: normal;
}

.date_size_s {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.date_size_m {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
